@import url('css/Colors.css');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scrollbar-width: auto;
  scrollbar-color: #102370;
}

*::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-corner {
  background-color: #ffffff00;
}

::-webkit-scrollbar-track {
  background-color: #242d4200;
}

*::-webkit-scrollbar-thumb {
  background-color: #464d61;
  background-clip: padding-box;
  border: 2px solid #242d4200;
  border-radius: 30px;
}

::selection {
  background-color: var(--primary);
  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: white;
  font-family: Roboto Mono;
}

h1 {
  font-size: 3.5rem;
  line-height: 60px;
}

h1, h2, h3 {
  font-family: monospace;
}

label {
  font-family: monospace;
  font-weight: bolder;
}

/*Header*/

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
  position: relative;
}

#side-dots {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -10%;
  transform: rotate(90deg);
}

header>div>p {
  line-height: 2;
}

header>div:first-of-type {
  width: 50%;
}

header>div:nth-of-type(2) {
  width: 35%;
}

header h1 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-wrap: wrap;
  align-items: self-start;
}

header h1 span {
  background: var(--primary);
  border-radius: 12px;
  color: var(--primary-light);
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: .05em;
  margin: 0;
  padding: 0 1rem 0 1rem;
  text-transform: capitalize;
}

header h1 p {
  font-weight: 900;
  letter-spacing: .02em;
  margin: 0;
}

header h1 p b {
  color: var(--primary-light);
  font-size: 3.6rem;
  font-family: monospace;
  text-shadow: 3px 3px 0 #1f2127, -1px -1px 0 #1f2127, 1px -1px 0 #1f2127, -1px 1px 0 #1f2127, 1px 1px 0 #1f2127;
}

header .container {
  height: 100vh;
}

header .container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#allmulti>polygon {
  fill-opacity: 0.05;
  transition: opacity 1s ease;
}

.light {
  transition: opacity 1s ease;
  fill-opacity: 0.2 !important;
}

/*Tools*/
#tools {
  margin-left: 25%;
  margin-right: 25%;
}

#tools-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
  padding: 0.5rem;
}

#tools-list div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  min-height: 120px;
}

#tools-list svg {
  border-radius: 1rem;
  filter: invert();
}

/*Developer Quotes*/
#developer-quotes {
  color: white;
  margin-top: 10.5rem;
  margin-bottom: 10.5rem;
  padding-left: 20%;
  padding-right: 20%;
}

#developer-quotes>#quote {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem;
  color: var(--primary-light);
  background: #111111;
  border: 1px solid var(--primary-light);
  border-radius: 0 0.7rem 0.7rem 0.7rem;
}

#quote q::before,
#quote q::after {
  font-size: 20px;
}

#quote>#author {
  font-weight: bolder;
  text-align: right;
  font-style: italic;
}

/*Contact*/
#contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem
}

#contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 40vw;
  text-align: center;
  line-height: 2rem;
  z-index: 20;
}

#contact-info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contact-info ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#contact-info a {
  color: var(--primary-light);
}

#contact-info svg {
  filter: invert();
  width: 4.5rem;
  height: 6.5rem;
  transition: .5s ease-in;
}

#contact-info li a {
  transition: .1s ease-in;
}

#contact-info li a:hover {
  transform: scale(1.1);
}

#contact-info li#mail a {
  margin-top: 1rem;
  font-size: 1.4rem;
  text-decoration: none;
}

#contact-info li#mail a:hover {
  transform: none !important;
  color: var(--primary);
}

#tools-tech-section {
  text-align: center;
  margin-bottom: 20%;
  position: relative;
  z-index: 100;
}

#tools-tech-section h2 {
  font-size: 2.5rem;
}

/*Hover text effect*/
.letter {
  display: inline-flex;
  transition: 0.4s;
  transform: translateX(0);
  transition: all .3s ease-out;
}

.letter:hover {
  color: var(--primary);
  -webkit-animation: rubberBand;
  animation: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1);
  }

  40% {
    -webkit-transform: scale3d(.75, 1.25, 1);
    transform: scale3d(.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}


@media screen and (max-width: 1200px) {
  header h1 span {
    font-size: 1rem;
  }

  header h1 p {
    font-size: 2.9rem;
  }

  header h1 p b {
    font-size: 3.4rem;
  }

  header .main-container svg {
    height: 1520px;
  }

  header>div {
    width: 100% !important;
  }

  #contact {
    margin-top: -20%;
  }

  #contact-info {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    ;
  }

  .scene-container {
    height: 660px !important;
  }

  #developer-quotes {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}